<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.odishakrushi">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:fullBackupContent="true"
        android:icon="@drawable/logo_new_5th_april"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_new_5th_april"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">

        <activity android:name=".Message.SendMessageDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ChangePassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Apptutorial.AppTutorial"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.FullScreenViewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Survey.GiveUrOpinionFarmer" />
        <activity
            android:name=".Survey.PostSurvey"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- AppThemeLight -->
        <activity
            android:name=".ChangeLanguage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawer.NavDrawer"
            android:label="@string/title_activity_nav_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPass"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_Agriculture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_Veterinary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_Fishery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_GovtSchemes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_Hire"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_Sale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.CultivationPractise"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Soil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Seed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Fertiliser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Disease_Pest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Irrigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Insurance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Training"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Processing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQAgriculture.Machine_Tools"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VCultivationPractise"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VBreed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VFeed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VDisease"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VHousing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VTraining"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQVeterinary.VInsurance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionAnswers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DistrictName"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Block"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GramPanchayat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VillageName"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpAll"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpFarmer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpFarmer_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpResourcePerson"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpResourcePerson_2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpBusiness"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpBusiness_2"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpAdminManager"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ask_Purchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.AgrilProductPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.AgrilProductSale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.MachinerySale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQHire.GiveOnHire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQHire.TakeOnHire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawer.NavdrawerRP"
            android:label="@string/title_activity_navdrawer_rp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawer.NavDrawerBusiness"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_nav_drawer_business"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawer.NavDrawerAdminManager"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_nav_drawer_admin_manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SurveyFarmer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileFarmer2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckImagePermission"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpStudentResearcher"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopUpMachineTool"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".SignUpGuest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BtypeDealsInMDF"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BtypeDealsInS"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgrilProductBusiness"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopUpSeed"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".PopUpPesti"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".PopUpFerti"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".PopUpOther"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".PopUpAgrilToolImplement"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VeterinaryItemBusiness"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopUpVAnimal"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".FishBusiness"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".DealsinOtherBusiness"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".SignUpExtensionOfficer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InServiceGPN"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CentralGovtExtenOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StateGovtExtenOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StateGovtAgriExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopUpExpertiseAgril"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".StateGovtHortiExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StateGovtSoilWatershedExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StateGovtAniResourceExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StateGovtFisheryExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StateGovtMarketingExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IcarExtenOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IcarAgri"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IcarHorti"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IcarVeterinary"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IcarFishery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrivateExtenOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NGOExtenOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RetiredExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelfEmployedExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OthersExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSoilCW.AskQSoilCW"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawerGuest"
            android:label="@string/title_activity_nav_drawer_guest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestUser.Guest_Agril_Product"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestUser.Guest_Machinery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestUser.Guest_VeterinaryItem"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestUser.Guest_Fishery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuestUser.Guest_Other"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavDrawer.NavDrawerStudentR"
            android:label="@string/title_activity_nav_drawer_student_r"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FileUploadTest"
            android:label="file upload test"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQFishery.FPrawn"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQFishery.FFish"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQFishery.FOthers"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQGovtSchemes.GSAsk"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.MachineryPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Agril Machinery/ Tools/ Implements"
            android:parentActivityName=".Ask_Purchase"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AskQPurchase.OverlayScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AskQPurchase.VeterinaryItemPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.FishPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.OtherItemPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.SeeData"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.SeePurchaseData"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.PopUpAgrilProductSale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQPurchase.PopUpAgrilProductPurchase"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQSale.PopUpMachineToolSale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.VeterinaryProductSale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.FishProductSale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.OtherProducttoSale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQRepair.RepairMachines"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQService.ServicesAvail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileFarmer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileStudentResearcher"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileAdminManager"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileGuest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileBusiness"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity.EditProfileExtoff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExtensionOff_ViewQuestion.ViewQuestionDetail_ExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            <activity
            android:name=".ExtensionOff_ViewQuestion.ViewQuestionList_ExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".Farmer_ViewQuestion.View_AskedQuestion_Detail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            <activity
            android:name=".Farmer_ViewQuestion.ViewQuestionList_Farmer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <!--
            <activity
            android:name=".Farmer_ViewQuestion.ViewAnswerByExtOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".AskQPurchase.PopUpPurchaseAnimal"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQSale.PopUpSaleAnimal"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQRepair.Addr_Contact_ServiceCenter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQHire.TakeOnHireDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.ViewFishDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPMachinetools"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.PopUpBPPMachinetool"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPSeedSeedling"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPPesticides"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPFertiliser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPMedicineFeed"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPServices"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.BPPOthers"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyStoryFarmer.ViewStory"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermsCondition"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQSale.SaleList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.PopUpFish"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQSale.PopUpOtherProductToSale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".ThemeSettings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.ProductListPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.ProductListSale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.DeleteRecord"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQPurchase.PurchaseFrom"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.MedicineFeedSale"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.SaleListVeterinary"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.PopUpMedicineFeed"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQPurchase.MedicineFeedPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQSale.SaleListMachineTools"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.SaleListPesticides"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.PopUpPesticidesSale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".AskQPurchase.PestiPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.PestiFertiListPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQPurchase.FertiPurchase"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.SaleListServices"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusinessProductPromotion.PopUpServices"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".OpenForum.Openforum_Detail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQService.BusinessServices"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQService.BusinessmanList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResults"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilePic.ProfilePic"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Profile Picture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Farmer_ViewQuestion.AnswerDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQGovtSchemes.GSFishery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQGovtSchemes.GS_scw"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQGovtSchemes.GSVeterinary"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AskQHire.PopUpGiveOnHire"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".ViewProfile.ViewProfileFarmer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfile.ViewProfileStudent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfile.ViewProfileBusinessMAn"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfile.ViewProfileAdmin"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfile.ViewProfileExtensionOff"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewProfile.ViewProfileGuest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notification.NotificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Class.KBankBroadCastReceiver">
            <intent-filter>

                <!--
                Attributes that can be supplied in an AndroidManifest.xml action tag,
                a child of the intent-filter tag.

                android:name
                    The name of an action that is handled, using the Java-style naming convention.
                -->
                <action android:name="DROPDOWN_ID" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>